.custom-button-container {
    position: relative;
    display: inline-block;
    margin-top: 50px;
    margin-left:$navbar-width;
    @include respond-to("tablet"){
      margin-left:150px ;
  }
    .custom-button-btn {
      padding: 12px 25px;
      font-size: 18px;
      font-weight: bold;
      color:$secondary;
      background-color: $primary;
      border: none;
      border-radius: 32px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      box-shadow: 0 8px 15px rgba(74, 101, 114, 0.3);

  
      &:hover {
        background-color: $accent;
        transform: scale(1.2); 
        box-shadow: 0 10px 20px rgba(74, 101, 114, 0.4);
        color: $secondary;
      }
    }
  
    &:hover .custom-button-content {
      visibility: visible;
      opacity: 1;
      transform: translateX(-50%) translateY(-10px);
    }
  }
  