.custom-button-container {
    position: relative;
    display: flex;
    justify-content: flex-start; 
    margin-top: 50px;
    margin-left: $navbar-width;

    @include respond-to("tablet") {
        justify-content: center; 
        margin-left: 0; 
    }

    @include respond-to("mobile") {
        margin-left: 0;
        justify-content: center; 
    }

    .custom-button-btn {
      padding: 12px 25px;
      font-size: 18px;
      font-weight: bold;
      background-color: $primary;
      border: none;
      border-radius: 32px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      box-shadow: 0 8px 15px rgba(74, 101, 114, 0.3);
      a{
        text-decoration: none;
        color:$secondary;
      }
  
      &:hover {
        background-color: $accent;
        transform: scale(1.2); 
        box-shadow: 0 10px 20px rgba(74, 101, 114, 0.4);
        color: $secondary;
      }
    }
  
    &:hover .custom-button-content {
      visibility: visible;
      opacity: 1;
      transform: translateX(-50%) translateY(-10px);
    }
  }
  