// _variables.scss
//couleur
$primary:#212121 ; // noir profond pour la navbar
$secondary:#E8E8E8;//Gris clair doux
$accent:#4A6572;//Bleu-gris doux
$text-color: #333;
$hover:#A6B1B7;//Cyan lumineux

//fonts
$font-family: 'Arial', sans-serif;

//dimensions pour les responsives
$navbar-width: 233px;

$mobile:480px;
$tablet:768px;
$large:992px;
$desktops:1200px;

