.home-section {
  background-image: url("../image/Desktop - 1.png");
  background-size:1350px 785px;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; 
  width: 100%; 
  @include respond-to("tablet") {
   background: none ;
   .home-title{
    font-size: 50px;
   }
   .home-subtitle{
    font-size: 40px;
   }
   
   }
   
  @include respond-to("mobile") {
   background: none;
   .home-title{
    font-size: 40px;
   }
   .home-subtitle{
    font-size: 30px;
   }
   p.home-description{
    font-size: 20px;
   }
   .contact-links1 {
    gap: 0px;
   }
  }
    @include flex-center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    background-color: $secondary;
    padding: 20px;
  
    .home-title {
      color: $primary;
      margin-bottom: 10px;
    }
  
    .home-subtitle {
      color: $primary;
      margin-bottom: 20px;
    }
  
    .home-description {
      color: $primary;
      max-width: 600px;
      line-height: 1.5;
      font-size: 25px;  
    }
    .contact-links1{
      display: flex; 
      margin-top: -350px;
      margin-bottom:-400px;
      justify-content: center;
      align-items: center; 
      gap: 20px; 
      padding: 20px;
      flex-direction:row;
      a {
        display: flex; 
        justify-content: center;
        align-items: center;
        width: 50px; 
        height: 50px;
        border-radius: 50%; 
        background-color:$primary;
        color:$secondary;
        text-decoration: none;
        font-size: 24px; 
        transition: transform 0.3s ease, background-color 0.3s ease;
        &:hover {
          transform: scale(1.3); 
          background-color: $accent;
          color: white;
        }
      }
    }
  }